@using ff.mealbooking.app.ViewModels
@model MealVoteViewModel

<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="col-sm-12">
        <p>
            <span>Giá:</span><strong>50k/kg</strong>
            <span>Ghi chú:</span><strong>1 kg khoảng 2 đến 3 trái</strong>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <img height="300" width="250" src="https://res.cloudinary.com/ff-team/image/upload/v1527567346/bookingmeals/avocado-3.jpg" />
    </div>
    <div class="col-sm-3">
        <img height="300" width="250" src="https://res.cloudinary.com/ff-team/image/upload/v1527567345/bookingmeals/avocado-4.jpg" />
    </div>
    <div class="col-sm-3">
        <img height="300" width="250" src="https://res.cloudinary.com/ff-team/image/upload/v1527567344/bookingmeals/avocado-1.jpg" />
    </div>
    <div class="col-sm-3">
        <img height="300" width="250" src="https://res.cloudinary.com/ff-team/image/upload/v1527567344/bookingmeals/avocado-2.jpg" />
    </div>
</div>

<form id="MealVoteForm" asp-controller="Home" asp-action="MealVoting" method="post">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label><span class="text-danger">*</span>
                <input id="CustomerName" asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label><span class="text-danger">*</span>
                <input id="DishName" asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary" value="Đặt" />
        </div>
    </div>
</form>